.idea
/nbproject
/opencorpora/dict.opcorpora.xml
/opencorpora-testing/dict.opcorpora.xml
/opencorpora-testing/s.rb
/js/node_modules
/js/package-lock.json
/js/package.json
/js/main
annotated_*.txt
all_errors.log
frequent_errors.log
