<!doctype html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="js/RussianNouns.js"></script>
  <script src="js/third-party/angular.min.js"></script>
  <!--<script src="js/third-party/bootstrap-4.3.1-dist/js/bootstrap.js"></script>-->
  <link rel="stylesheet" href="js/third-party/bootstrap-4.3.1-dist/css/bootstrap.css">

  <script>
      angular.module('demo', []);

      angular.module('demo').controller('DemoController', DemoController);

      DemoController.$inject = [
          '$scope'
      ];

      function DemoController(
          $scope
      ) {
          $scope.input = {};

          $scope.cases = RussianNouns.CASES;

          const rne = new RussianNouns.Engine();

          $scope.fillForm = (gender, word, surname, animate, indeclinable, transport) => {
              $scope.input.text = word;
              $scope.input.gender = gender;
              $scope.input.surname = surname;
              $scope.input.animate = animate;
              $scope.input.indeclinable = indeclinable;
              $scope.input.transport = transport;
              $scope.changed();
          };

          $scope.clean = () => {
              if (!$scope.input.gender) {
                  delete $scope.input.gender;
              }

              if (!$scope.input.pluraleTantum) {
                  delete $scope.input.pluraleTantum;
              }

              if (!$scope.input.surname) {
                  delete $scope.input.surname;
              }

              if (!$scope.input.name) {
                  delete $scope.input.name;
              }

              if (!$scope.input.animate) {
                  delete $scope.input.animate;
              }

              if (!$scope.input.indeclinable) {
                  delete $scope.input.indeclinable;
              }

              if (!$scope.input.transport) {
                  delete $scope.input.transport;
              }
          };

          $scope.getInputCode = (inputObject) => {
              let lines = JSON.stringify($scope.input, null, "    ").split('\n');
              let processed = lines.map(x => {
                  if (x.indexOf(':') >= 0) {
                      let parts = x.split(':');
                      return parts[0].replaceAll('"', '') + ':' + parts[1];
                  }
                  return x;
              }).join('\n');

              return 'RussianNouns.Lemma.create(' + processed + ')';
          };

          $scope.changed = () => {
              $scope.clean();
              if ($scope.input.text && $scope.input.gender) {

                  document.getElementById('inputCode').textContent = $scope.getInputCode();

                  let lemma = RussianNouns.createLemma($scope.input);

                  $scope.result = {};
                  $scope.plural = {};

                  for (const c of $scope.cases) {
                      $scope.result[c] = rne.decline(lemma, c);

                      if (RussianNouns.Case.NOMINATIVE === c) {
                        $scope.plural[c] = rne.pluralize(lemma);
                      } else if ($scope.plural[RussianNouns.Case.NOMINATIVE] && (c !== RussianNouns.Case.LOCATIVE)) {

                        // У слова может быть несколько форм во множественном числе.

                        $scope.plural[c] = $scope.plural[RussianNouns.Case.NOMINATIVE]
                                .map(p => rne.decline(lemma, c, p))
                                .reduce((a, b) => a.concat(b));

                      }
                  }

              } else {
                  $scope.result = null;
              }
          };

          $scope.fillForm('мужской', 'тест');
      }
  </script>

  <style>
    html, body {
      background: #f5f5f5;
      height: 100%;
    }
    .container {
      padding-top: 1em;
      background: #f9f9f9;
      min-height: 100%;
    }

    html, h1, h2, h3, p, .form-control {
      font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    }
    @supports (font-variation-settings: normal) {
      html, h1, h2, h3, p, .form-control {
        font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
      }
    }

    .row {
      margin-bottom: .7rem;
    }

    h2 {
      font-size: small;
    }

    h3 {
      font-weight: 300;
    }

    th.leftHeader {
      text-transform: capitalize;
      width: 2em;
    }

    @media (min-width: 992px) {
      th.leftHeader {
        width: 10em;
      }
    }

    .table th, .table td {
      padding: 0.25rem;
    }

    #examples a {
        white-space: nowrap;
    }

    #inputCode {
        font-family : monospace;
        white-space : pre;
        font-size: 80%;
        background: #f3f3f3;
        margin: 2em 0 3em;
        overflow: auto;
    }
  </style>
</head>
<body ng-app="demo">
  <div class="container" ng-controller="DemoController">

    <div class="row mb-4">
      <div class="col-sm-8">
        <h1 class="notranslate" translate="no">
          <span style="font-weight: 200;">RussianNouns.js</span>
        </h1>
        <h2 style="padding-left: .1em;">
          Алгоритм склонения с точностью около 98% (при&nbsp;условии&nbsp;корректности&nbsp;исходных&nbsp;данных)
        </h2>
      </div>
      <div class="col-sm-4 text-sm-right pt-sm-2">
        <a class="btn btn-lg btn-outline-dark notranslate" translate="no"
           style="padding: .1rem 1.1rem .19rem .8rem;"
           href="https://github.com/georgy7/RussianNounsJS">
          <span style="vertical-align: -5%; line-height: 1;">★</span>
          <span style="vertical-align: middle; font-size: 85%;">GitHub</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 notranslate" translate="no">
        <p id="examples">
          <a href ng-click="fillForm('мужской', 'арбуз')">арбуз</a>
          <a href ng-click="fillForm('средний', 'окно')">окно</a>
          <a href ng-click="fillForm('мужской', 'кот', null, true)">кот</a>
          <a href ng-click="fillForm('женский', 'кошка', null, true)">кошка</a>
          <a href ng-click="fillForm('средний', 'дитя', null, true)">дитя</a>
          <a href ng-click="fillForm('средний', 'знамя')">знамя</a>
          <a href ng-click="fillForm('средний', 'время')">время</a>
          <a href ng-click="fillForm('средний', 'семя')">семя</a>
          <a href ng-click="fillForm('средний', 'вымя')">вымя</a>
          <a href ng-click="fillForm('средний', 'темя')">темя</a>
          <a href ng-click="fillForm('средний', 'имя')">имя</a>
          <a href ng-click="fillForm('средний', 'пламя')">пламя</a>
          <a href ng-click="fillForm('средний', 'стремя')">стремя</a>
          <a href ng-click="fillForm('общий', 'задира', null, true)">задира</a>
          <a href ng-click="fillForm('общий', 'хитрюга', null, true)">хитрюга</a>
          <a href ng-click="fillForm('общий', 'нелюдь', null, true)">нелюдь</a>
          <a href ng-click="fillForm('мужской', 'паровоз')">паровоз</a>

          <a href ng-click="fillForm('мужской', 'ад')">ад</a>
          <a href ng-click="fillForm('мужской', 'вид')">вид</a>
          <a href ng-click="fillForm('мужской', 'снег')">снег</a>

          <a href ng-click="fillForm('женский', 'мать', null, true)">мать</a>
          <a href ng-click="fillForm('мужской', 'отец', null, true)">отец</a>
          <a href ng-click="fillForm('мужской', 'сын', null, true)">сын</a>
          <a href ng-click="fillForm('женский', 'дочь', null, true)">дочь</a>
          <a href ng-click="fillForm('мужской', 'зять', null, true)">зять</a>

          <!--
          <a href ng-click="fillForm('мужской', 'Георгий', null, true)">Георгий</a>
          <a href ng-click="fillForm('мужской', 'Устинов', true, true)">Устинов</a>
          -->

          <a href ng-click="fillForm('мужской', 'кий')">кий</a>
          <a href ng-click="fillForm('женский', 'елка')">елка</a>
          <a href ng-click="fillForm('мужской', 'еж', null, true)">еж</a>
          <a href ng-click="fillForm('мужской', 'ерш')">ерш</a>
          <a href ng-click="fillForm('мужской', 'морж', null, true)">морж</a>

          <!--
          <a href ng-click="fillForm('женский', 'Иордания')">Иордания</a>
          <a href ng-click="fillForm('мужской', 'Будапешт', null, null, true)">Будапешт</a>
          <a href ng-click="fillForm('мужской', 'Белозёрский', true, true)">Белозёрский</a>
          <a href ng-click="fillForm('женский', 'Белозёрская', true, true)">Белозёрская</a>
          -->

          <a href ng-click="fillForm('женский', 'ирония')">ирония</a>
          <a href ng-click="fillForm('средний', 'пальто', null, null, true)">пальто</a>
          <a href ng-click="fillForm('мужской', 'путь')">путь</a>
          <a href ng-click="fillForm('женский', 'муть')">муть</a>
          <a href ng-click="fillForm('женский', 'жуть')">жуть</a>
          <a href ng-click="fillForm('женский', 'нефть')">нефть</a>
          <a href ng-click="fillForm('мужской', 'гений', null, true)">гений (человек, дух)</a>
          <a href ng-click="fillForm('мужской', 'гений', null, false)">гений (дар)</a>

          <a href ng-click="fillForm('средний', 'λ-выражение')">λ-выражение</a>
          <a href ng-click="fillForm('женский', 'α-частица')">α-частица</a>
          <a href ng-click="fillForm('мужской', 'рок-н-ролл')">рок-н-ролл</a>
          <a href ng-click="fillForm('женский', 'теле-пресс-конференция')">теле-пресс-конференция</a>

          <a href ng-click="fillForm('средний', 'судно', null, null, null, null)">судно (мед.)</a>
          <a href ng-click="fillForm('средний', 'судно', null, null, null, true)">судно (лодка)</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-12">
            <h3>
              Исходные данные
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <input class="form-control"
                   ng-model="input.text"
                   ng-change="changed()"
                   placeholder="a russian noun"
                   ng-required="true"/>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <select class="form-control"
                    ng-model="input.gender"
                    ng-change="changed()"
                    ng-required="true">
              <option value="">Выберите грамматический род</option>
              <option value="мужской">мужской род</option>
              <option value="женский">женский род</option>
              <option value="средний">средний род</option>
              <option value="общий">общий род</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="indeclinableCheckBox" ng-model="input.indeclinable" ng-change="changed()">
              <label class="form-check-label" for="indeclinableCheckBox">
                Несклоняемое
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="animateCheckBox" ng-model="input.animate" ng-change="changed()">
              <label class="form-check-label" for="animateCheckBox">
                Одушевленное
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="surnameCheckBox" ng-model="input.surname" ng-change="changed()">
              <label class="form-check-label" for="surnameCheckBox">Фамилия</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="transportCheckBox" ng-model="input.transport" ng-change="changed()">
              <label class="form-check-label" for="transportCheckBox">
                Транспорт
              </label>
            </div>
          </div>
        </div>

        <div id="inputCode" class="p-2 p-xl-4 notranslate" translate="no"></div>
      </div>
      <div class="col-md-8">
        <div class="row" ng-if="result">
          <div class="col-12">
            <h3>
              Результат
            </h3>
          </div>
        </div>
        <div class="row" ng-if="result">
          <div class="col-12">
            <table class="table table-hover">
              <tr ng-repeat="case in cases">
                <th class="leftHeader notranslate" translate="no">
                    <span class="d-inline d-lg-none mr-4">{{case[0]}}</span><span class="d-none d-lg-inline mr-4">{{case}}</span>
                </th>
                <td class="notranslate" translate="no" style="width: 50%;">
                    <span ng-repeat="w in result[case]">{{w}}<span ng-if="!$last">, </span></span>
                </td>
                <td class="notranslate" translate="no" style="width: 50%;">
                    <span ng-repeat="w in plural[case]">{{w}}<span ng-if="!$last">, </span></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
