<!doctype html>
<html ng-app="search_app">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <script src="js/third-party/underscore.js"></script>

  <script src="js/RussianNouns.coffee"
                type="text/coffeescript" charset="UTF-8"></script>

  <script src="js/MockVocabulary.coffee"
                type="text/coffeescript" charset="UTF-8"></script>

  <script src="js/third-party/coffee-script.js"></script>
  <script src="js/third-party/jquery.min.js"></script>
  <script src="js/third-party/angular.min.js"></script>
  <link href="js/third-party/angular-busy.min.css" rel="stylesheet">
  <script src="js/third-party/angular-busy.min.js"></script>

  <script src="js/search.js"></script>
</head>
<body>

  <div ng-controller="SearchController"><div cg-busy="{promise:vocabularyPromise,message:'Загрузка словаря'}">
    <form novalidate name="myForm">
      <input type="text" 
             ng-model="word" 
             placeholder="Введите слово"
             ng-required="true"/>
      <button ng-click="search()"
              ng-disabled="myForm.$invalid">
        Объяснить
      </button>
    </form>
    <hr>
    <p>{{wordExplanation}}</p>
  </div></div>

</body>
</html>